.mainBg,
.toggle-menu span {
  background-color: var(--mainColor);
}
.footer--tilte,
.main--title,
.mockup--title,
.titlAlert {
  font-weight: 600;
  letter-spacing: 0;
}
:root {
  --mainColor: #1090cb;
  --neroColor: #252525;
}
#title-container {
  min-height: 460px;
  height: 100%;
  color: #fff;
  background-color: #DC3545;
  text-align: center;
  padding: 105px 28px 28px 28px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -webkit-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
}

#title-container h2 {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  padding: 0;
  margin-bottom: 0px;
}

#title-container h3 {
  font-size: 25px;
  font-weight: 600;
  color: #82000a;
  padding: 0;
}

#title-container p {
  font-size: 13px;
  padding: 0 25px;
  line-height: 20px;
}

.covid-image {
  width: 214px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00011c;
}
 
p {
    margin-bottom: 24px;
    line-height: 1.9;
}
 
label {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
}
#qbox-container {
  background: url(../img/corona.png);
  background-repeat: repeat;
  position: relative;
  padding: 62px;
  min-height: 630px;
  box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -webkit-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
}

#steps-container {
  margin: auto;
  width: 500px;
  min-height: 420px;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.step {
  display: none;
}

.step h4 {
  margin: 0 0 26px 0;
  padding: 0;
  position: relative;
  font-weight: 500;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.6;
}

button#prev-btn,
button#next-btn,
button#submit-btn {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  width: 130px;
  height: 50px;
  background: #DC3545;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  text-align: center;
  color: #fff;
  border: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button#prev-btn:after,
button#next-btn:after,
button#submit-btn:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cc0616;
  content: "";
  z-index: -2;
  transition: transform .3s;
}

button#prev-btn:hover::after,
button#next-btn:hover::after,
button#submit-btn:hover::after {
  transform: translateY(-80%);
  transition: transform .3s;
}

.progress {
  border-radius: 0px !important;
}

.q__question {
  position: relative;
}

.q__question:not(:last-child) {
  margin-bottom: 10px;
}

.question__input {
  position: absolute;
  left: -9999px;
}

.question__label {
  position: relative;
  display: block;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 20px 5px 50px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.question__label:hover {
  border-color: #DC3545;
}

.question__label:before,
.question__label:after {
  position: absolute;
  content: "";
}

.question__label:before {
  top: 12px;
  left: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #ced4da;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.question__input:checked+.question__label:before {
  background-color: #DC3545;
  box-shadow: 0 0 0 0;
}

.question__input:checked+.question__label:after {
  top: 22px;
  left: 18px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

.form-check-input:checked,
.form-check-input:focus {
  background-color: #DC3545 !important;
  outline: none !important;
  border: none !important;
}

input:focus {
  outline: none;
}

#input-container {
  display: inline-block;
  box-shadow: none !important;
  margin-top: 36px !important;
}

label.form-check-label.radio-lb {
  margin-right: 15px;
}

#q-box__buttons {
  text-align: center;
}

input[type="text"],
input[type="email"] {
  padding: 8px 14px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid #DC3545;
  border-radius: 5px;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.form-check-input:checked[type=radio],
.form-check-input:checked[type=radio]:hover,
.form-check-input:checked[type=radio]:focus,
.form-check-input:checked[type=radio]:active {
  border: none !important;
  -webkit-outline: 0px !important;
  box-shadow: none !important;
}

.form-check-input:focus,
input[type="radio"]:hover {
  box-shadow: none;
  cursor: pointer !important;
}

#success {
  display: none;
}

#success h4 {
  color: #DC3545;
}

.back-link {
  font-weight: 700;
  color: #DC3545;
  text-decoration: none;
  font-size: 18px;
}

.back-link:hover {
  color: #82000a;
}

/* PRELOADER */
 
#preloader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#preloader {
  background-image: url('../img/preloader.png');
  width: 120px;
  height: 119px;
  border-top-color: #fff;
  border-radius: 100%;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

#preloader-wrapper .preloader-section {
  width: 51%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #F7F9FF;
  z-index: 1000;
}

#preloader-wrapper .preloader-section.section-left {
  left: 0
}

#preloader-wrapper .preloader-section.section-right {
  right: 0;
}

.loaded #preloader-wrapper .preloader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #preloader-wrapper .preloader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #preloader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #preloader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/* MEDIA QUERIES */
 
@media (min-width: 990px) and (max-width: 1199px) {
  #title-container {
      padding: 80px 28px 28px 28px;
  }
  #steps-container {
      width: 85%;
  }
}

@media (max-width: 991px) {
  #title-container {
      padding: 30px;
      min-height: inherit;
  }
}

@media (max-width: 767px) {
  #qbox-container {
      padding: 30px;
  }
  #steps-container {
      width: 100%;
      min-height: 400px;
  }
  #title-container {
      padding-top: 50px;
  }
}

@media (max-width: 560px) {
  #qbox-container {
      padding: 40px;
  }
  #title-container {
      padding-top: 45px;
  }
}

body {
  font-family: Sen, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
.link:hover,
.mainColor {
  color: var(--mainColor);
}
.neroColor {
  color: var(--neroColor);
}
p {
  color: #868686;
  margin: 0;
}
.buttom {
  display: inline-block;
  padding: 5px 14px;
  background-color: #03a9f4;
  font-size: 15px;
  font-weight: 600;
  line-height: 2em;
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 16px rgb(3 169 244 / 35%);
  box-shadow: 0 6px 16px rgb(3 169 244 / 35%);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.Links--list,
nav {
  display: -ms-flexbox;
}
.item--main h1,
.main--title {
  font-size: 40px;
}
#scrollTopBtn {
  padding: 10px;
  background-color: #08d3bb;
  color: #fff;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  border-radius: 50%;
  position: fixed;
  right: 3%;
  bottom: 5%;
  cursor: pointer;
  opacity: 0.5;
  z-index: 99999999999;
}
#scrollTopBtn:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
nav {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0;
}
.Links--list {
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}
.Links--list a {
  color: #000;
  line-height: 24px;
}
header {
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}
.toggle-menu {
  background: 0 0;
  border: none;
  width: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
  display: none;
}
.moucpAft::after,
.moucpvr::after,
.sercile {
  border-radius: 50%;
  position: absolute;
}
.toggle-menu:focus {
  outline: 0;
}
.toggle-menu span {
  display: inline-block;
  height: 3px;
  margin: 3px 0;
  width: 40px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.toggle-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}
.toggle-menu.open span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.toggle-menu.open span {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .Links--list {
    display: none;
  }
  .Links--list.open,
  .toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .toggle-menu {
    display: flex;
    z-index: 999;
  }
  .Links--list.open {
    position: absolute;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
  .Links--list a {
    margin: 2rem 0;
  }
}
.mainSection {
  height: calc(100vh - 62px);
  background-image: url(../imges/Header.svg);
  background-position: center center;
  background-size: cover;
}
.main--title {
  line-height: 60px;
}
.item2--main {
  -webkit-animation: 4s infinite alternate header;
  animation: 4s infinite alternate header;
}
@-webkit-keyframes header {
  0%,
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(6px, -6px);
    transform: translate(6px, -6px);
  }
  40% {
    -webkit-transform: translate(6px, 6px);
    transform: translate(6px, 6px);
  }
  60% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  80% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
}
@keyframes header {
  0%,
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(6px, -6px);
    transform: translate(6px, -6px);
  }
  40% {
    -webkit-transform: translate(6px, 6px);
    transform: translate(6px, 6px);
  }
  60% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  80% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
}
.btn1:hover {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
}
.item--main p {
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0;
  color: #5c5c5c;
}
@media screen and (max-width: 850px) {
  .item--main h1 {
    font-size: 31px;
    line-height: 44px;
  }
}
.sercile {
  padding: 5rem 6rem;
  background-color: #08d3bb;
  bottom: -16%;
  left: -11%;
}
.iconSection {
  border-bottom: 1px solid #c7c7c7;
}
.icon {
  padding: 0.7rem;
}
.icon1 {
  background-color: #efeaff;
}
.icon2 {
  background-color: #ecffda;
}
.icon3 {
  background-color: #dae6ff;
}
.icon4 {
  background-color: #ffe5da;
}
.moucpAft::after {
  content: "";
  height: 505px;
  width: 497px;
  right: -51%;
  opacity: 0.6;
  top: 17%;
  background: -o-radial-gradient(
    50% 50%,
    72.77% 72.77%,
    #ded9ff 0,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
    72.77% 72.77% at 50% 50%,
    #ded9ff 0,
    rgba(255, 255, 255, 0) 100%
  );
}
.moucpvr::after {
  content: "";
  background: -o-radial-gradient(
    50% 50%,
    72.77% 72.77%,
    #ded9ff 0,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
    72.77% 72.77% at 50% 50%,
    #ded9ff 0,
    rgba(255, 255, 255, 0) 100%
  );
  height: 292px;
  width: 312px;
  z-index: -1;
  left: 37%;
  top: 27px;
  opacity: 0.7;
}
.mockup--title {
  font-size: 30px;
  line-height: 51px;
}
.containerr {
  width: 90%;
  margin: auto;
}
.smile--icon {
  background-color: #08d3bb;
  padding: 0.9rem;
}
.alertSection,
.alertSection2 {
  padding: 3rem;
  border-radius: 20px;
}
.alertSection {
  background-color: #f4f4f4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
}
.titlAlert {
  font-size: 25px;
  line-height: 43px;
}
.alertSection2 + p,
.titlAlert + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
}
.alertSection2 {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
}
.alertSection2:hover .angle {
  -webkit-animation: 471ms 2 cssAnimation_0;
  animation: 471ms 2 cssAnimation_0;
  -webkit-transform-origin: top top;
  -ms-transform-origin: top top;
  transform-origin: top top;
  -webkit-transition: -webkit-transform 471ms linear;
  transition: transform 471ms linear;
  -o-transition: transform 471ms linear;
  transition: transform 471ms linear, -webkit-transform 471ms linear;
}
@-webkit-keyframes cssAnimation_0 {
  to {
    -webkit-transform: rotate(-30deg) translate(0, 0) scale(1.1, 1);
    transform: rotate(-30deg) translate(0, 0) scale(1.1, 1);
  }
}
@keyframes cssAnimation_0 {
  to {
    -webkit-transform: rotate(-30deg) translate(0, 0) scale(1.1, 1);
    transform: rotate(-30deg) translate(0, 0) scale(1.1, 1);
  }
}
.angle {
  top: -15%;
  right: 0;
}
.footer--input {
  outline: 0;
  border: none;
}
.footer {
  background-image: url(../imges/footer.svg);
}
.footer--tilte {
  font-size: 30px;
  line-height: 51px;
  text-align: center;
}
.iconsohial a {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 3px 9px;
  border-radius: 50%;
  background: #fff;
}
.Copyright {
  border-top: 0.1px solid #dfdadaf1;
}
@media screen and (max-width: 600px) {
  .item--main h1 {
    font-size: 26px;
    line-height: 35px;
  }
  .mockup--h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .mockup--p {
    font-size: 15px;
    margin-bottom: 2rem;
  }
  .mockup--title {
    font-size: 20px;
    line-height: 30px;
  }
  .moucup--order {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .alertSection2 {
    margin-top: 2rem;
  }
  .angle {
    top: -7%;
  }
  .social,
  .subscribe--foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .footer--tilte {
    font-size: 19px;
    line-height: 26px;
  }
  .subscribe--foot {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .subscribe--foot input {
    margin-bottom: 0.5rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .subscribe--foot a:hover {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  .About--foot {
    margin-top: 0.7rem;
  }
  .social {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: start !important;
  }
  .iconsohial {
    margin: 10px 0;
  }
  .footer--logo .container {
    padding: 0.9rem !important;
  }
  .footer--input {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .toggle-menu {
    padding: 0;
    margin-bottom: 1px;
  }
  .item--main h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .item--main p {
    font-size: 14px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    color: #5c5c5c;
  }
  .buttom {
    font-size: 14px;
    margin-top: 0.5rem;
  }
  .icon {
    padding: 0.5rem;
  }
  .mockup--h3 {
    font-size: 17px;
    line-height: 21px;
  }
  .smile--title {
    font-size: 12px !important;
  }
  .smile--icon {
    padding: 7px;
  }
  .mockup--title {
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
  }
  .smile--p {
    font-size: 13px !important;
    line-height: 21px !important;
  }
  .titlAlert,
  .titlAlert + p {
    line-height: 22px;
  }
  .titlAlert {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
  }
  .Contact--p,
  .footer--p,
  .titlAlert + p {
    font-size: 14px;
  }
  .angle {
    top: -4%;
  }
}
@media screen and (max-width: 700px) {
  .Company {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}
.lodingsscren {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99999999999;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.boxes,
.boxes .box {
  width: 32px;
  height: 32px;
}
.boxes {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin-top: 32px;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0) translateZ(0);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0) translateZ(0);
}
.boxes .box {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boxes .box:first-child {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-animation: 1s linear infinite box1;
  animation: 0.5s linear infinite box1;
}
.boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-animation: 0.5s linear infinite box2;
  animation: 0.5s linear infinite box2;
}
.boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: 0.5s linear infinite box3;
  animation: 0.5s linear infinite box3;
}
.boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: 0.5s linear infinite box4;
  animation: 0.5s linear infinite box4;
}
.boxes .box > div {
  background: #5c8df6;
  --translateZ: 15.5px;
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--mainColor);
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}
.boxes .box > div:first-child {
  top: 0;
  left: 0;
  background: var(--mainColor);
}
.boxes .box > div:nth-child(2) {
  background: #145af2;
  right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  background: #447cf5;
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  background: #dbe3f4;
  top: 0;
  left: 0;
  --translateZ: -90px;
}
@-webkit-keyframes box1 {
  0%,
  50% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
}
@keyframes box1 {
  0%,
  50% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
}
@-webkit-keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}
@keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}
@-webkit-keyframes box3 {
  0%,
  50% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}
@keyframes box3 {
  0%,
  50% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}
@-webkit-keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
    transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
}
@keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
    transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #03a9f4;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
}
.link {
  transition: 0.3s;
}
